{% extends 'layout.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
<div class="about-container">
    <h1>About</h1>
    <p>Welcome to my website! This site is designed to showcase my project and share information about my work.</p>
    <p>Here are a few things about me:</p>
    <ul class="about-list">
        <li><i class="fas fa-user"></i> <strong>Name:</strong> Alfred B. Orapa</li>
        <li><i class="fas fa-graduation-cap"></i> <strong>Course:</strong> BSIS (Bachelor of Science in Information System)</li>
        <li><i class="fas fa-code"></i> <strong>Hobbies:</strong> Coding gamay, Reading, and many more.</li>
    </ul>
    <p>Feel free to explore the site and check out my <a href="/">Home</a> page</p>
</div>
{% endblock %}